@font-face {
  font-family: 'moby-monospace';
  src: url('./assets/fonts/moby-monospace.ttf');
}

@font-face {
  font-family: 'share-tech';
  src: url('./assets/fonts/share-tech.ttf');
}

@font-face {
  font-family: 'rubik';
  src: url('./assets/fonts/rubik.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
}

a {
  color: unset;
  text-decoration: unset;
  white-space: nowrap;
}

body {
  --closed-nav-width: 3rem;
  --open-nav-width: 8.5rem;
  --dim-color: hsla(0, 0%, 100%, .6);
  --main-color: hsla(0, 0%, 100%, 1);
  --highlight-color: #7fffd4;
  --action-color: hsl(0, 0%, 60%);
  --bg-color: hsl(225, 67%, 5%);

  background-color: var(--bg-color);
  color: var(--main-color);
  overflow: hidden;
}

h1 {
  display: none;
}

nav,
section>h4 {
  font-family: 'share-tech', sans-serif;
}

.clickable:hover,
a:hover {
  transition: color .2s ease-in-out;
  color: var(--action-color);
}

/* == nav ========================= */

nav {
  background-color: #000;
  border-right: 1px solid hsla(0, 0%, 100%, 0.25);
  position: fixed;
  height: 100vh;
  display: flex;
  z-index: 2;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: .25rem;
  padding-top: .5rem;
  width: var(--closed-nav-width);
  transition: width .5s ease-in-out;
}

nav:hover {
  width: 8.5rem;
}

nav svg {
  stroke: var(--main-color);
  fill: var(--main-color);
  width: 2.5rem;
}

#socials {
  font-size: 1.4rem;
}

#socials svg {
  display: block;
  padding: .25rem;
}

#socials a {
  display: flex;
  align-items: flex-end;
}

#socials span {
  margin-left: .25rem;
}

#map {
  list-style: none;
  flex: 1;
  margin-top: 2rem;
  margin-left: .25rem;
}

#map>li {
  padding: 0 .25rem;
  border-left: .5rem solid var(--main-color);
  margin-left: .75rem;
  color: transparent;
  white-space: nowrap;
  transition: all .5s ease-in-out;
}

#map a,
#socials span {
  visibility: hidden;
}

nav>* {
  pointer-events: none;
}

nav:hover>* {
  pointer-events: auto;
}

nav:hover>#map a,
nav:hover>#socials span {
  transition: visibility 0s ease-in-out .5s;
  visibility: visible;
}

nav:hover>#map>li {
  transition: all .4s ease-in-out .3s, margin-left .6s ease-in-out;
  margin-left: 0;
  border-left-width: .25rem;
  border-radius: .2rem;
  color: var(--main-color);
}

nav:hover+main {
  filter: blur(10px);
}

/* == nav ========================= */

main,
main>section {
  height: 100vh;
}

main {
  font-family: rubik, sans-serif;
  margin-left: var(--closed-nav-width);
  transition: padding-left .5s ease-in-out;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  transition: .5s;
}

main>section {
  scroll-snap-align: start;
  display: grid;
  place-content: center;
}

section>h2,
#intro {
  font-family: 'moby-monospace',
    monospace;
  letter-spacing: -.2ch;
}

section>h2 {
  font-size: calc(.6rem + 4vw);
  grid-column: 1 / -1;
  text-align: center;
  padding-right: .2ch;
}

section>h3,
section>h4 {
  font-weight: 300;
}

section>h3 {
  color: var(--highlight-color);
  font-size: calc(1rem + .6vw);
}

section>h4 {
  color: var(--dim-color);
  margin-bottom: 2ch;
}


/* == work ========================= */

.work {
  gap: 3vmin;
  font-size: calc(.8rem + .3vw);
}

.work>section {
  position: relative;
  bottom: 0;
  right: 0;
  border-color: var(--main-color);
  border-style: solid;
  border-width: .5ch 0ch 0ch .5ch;
  transition: all .2s ease-in-out;
  padding: 2ch 3ch;
  width: 70vw;
  margin: 0 auto;
}

.work>section:hover {
  bottom: .4ch;
  right: .4ch;
  background: rgb(4, 8, 21);
  background: linear-gradient(170deg, hsla(226, 68%, 5%, 1) 0%, hsla(226, 68%, 5%, 0) 80%);
}

.work>section::before {
  position: absolute;
  top: 0;
  left: 0;
  translate: -54% -52%;
  content: "+";
  font-family: 'moby-monospace',
    monospace;
  font-size: 6ch;
  color: var(--highlight-color);
}

.work>section>p {
  width: 100%;
  height: 3ch;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis " ...";
}

/* == work ========================= */


/* == intro ========================= */

#intro {
  font-size: 5vw;
  color: var(--dim-color);
}

#intro>div>p {
  display: flex;
  justify-content: space-between;
}

#intro strong {
  all: unset;
  color: var(--main-color);
}

#intro>div>p:first-child {
  word-spacing: -.2ch;
}

.trail-empty {
  margin-right: .8ch;
}

#intro .filler {
  background-color: var(--highlight-color);
  background-clip: content-box;
  padding: 1ch 0 .44ch;
  flex-grow: .9;
  position: relative;
  left: .1ch;
  animation: 3s ease-in 1s alternate infinite breathe;
}

#intro .filler.left {
  padding-right: .8ch;
}

#intro .filler.right {
  padding-left: .8ch;
}

@keyframes breathe {
  from {
    opacity: 1;
  }

  to {
    opacity: .2;
  }
}

/* == intro ========================= */






/* == background ========================= */
#blob {
  position: fixed;
  z-index: -1;
  width: 70vmax;
  height: 70vmax;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  opacity: 0.5;
}

#blur {
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: -1;
  backdrop-filter: blur(12vmax);
}

/* == background ========================= */