@font-face {
  font-family: 'share-tech';
  src: url('./assets/share-tech.ttf');
}

@font-face {
  font-family: 'moby-monospace';
  src: url('./assets/moby-monospace.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: unset;
  text-decoration: unset;
}

body {
  font-family: 'share-tech', sans-serif;
  background-color: hsl(225, 67%, 5%);
  color: #fff;
  overflow: hidden;
}

h1 {
  display: none;
}

/* == nav ========================= */

nav {
  background-color: #000;
  border-right: 1px solid hsla(0, 0%, 100%, 0.25);
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: .25rem;
  padding-top: .5rem;
  width: 3rem;
  transition: width .5s ease-in-out;
}

nav:hover {
  width: 8.5rem;
}

nav svg {
  stroke: #fff;
  fill: #fff;
  width: 2.5rem;
}

#socials {
  font-size: 1.4rem;
}

#socials svg {
  display: block;
  padding: .25rem;
}

#socials a {
  display: flex;
  align-items: flex-end;
}

#socials span {
  margin-left: .25rem;
}

#map {
  list-style: none;
  flex: 1;
  margin-top: 2rem;
  margin-left: .25rem;
}

#map>li {
  padding: 0 .25rem;
  border-left: .5rem solid white;
  margin-left: .75rem;
  color: transparent;
  white-space: nowrap;
  transition: all .5s ease-in-out;
}

#map a,
#socials span {
  visibility: hidden;
}

nav:hover>#map a,
nav:hover>#socials span {
  transition: visibility 0s ease-in-out .5s;
  visibility: visible;
}

nav:hover>#map>li {
  transition: all .4s ease-in-out .3s, margin-left .6s ease-in-out;
  margin-left: 0;
  border-left-width: .25rem;
  border-radius: .2rem;
  color: #fff;
}

nav:hover+main {
  padding-left: 8.5rem;
}

/* == nav ========================= */

main,
main>section {
  height: 100vh;
}

main {
  padding-left: 3rem;
  transition: padding-left .5s ease-in-out;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

main>section {
  scroll-snap-align: start;
  display: grid;
  place-content: center;
}

/* == intro ========================= */

#intro {
  font-size: 5vw;
  font-family: 'moby-monospace', monospace;
  letter-spacing: -.2ch;
  color: hsla(0, 0%, 100%, 0.6);
}

#intro>div>p {
  display: flex;
  justify-content: space-between;
}

#intro strong {
  all: unset;
  color: hsla(0, 0%, 100%, 1);
}

/* == intro ========================= */






/* == blob ========================= */

/* == blob ========================= */