@use "colors";
@use "utils" as *;

#contact {
  $clr-neon: colors.$main;
  $padding-side: 8vw;

  padding-top: 12vh;
  text-align: center;
  display: flex;
  flex-direction: column;

  h1 {
    font-family: "Tilt Neon";
    font-weight: 700;
    font-size: r-size(5.5, "min");
    margin: 0 auto 5vh;
    color: colors.$content-muted;
    text-shadow: none;
  }

  &.active h1 {
    $transition-time: 1s ease-in;

    transition: color $transition-time, text-shadow $transition-time;
    color: $clr-neon;
    text-shadow: 0 0 10px $clr-neon, 0 0 20px $clr-neon, 0 0 40px $clr-neon,
      0 0 80px $clr-neon, 0 0 120px $clr-neon, 0 0 160px $clr-neon;
  }

  a {
    display: block;
    color: colors.$main;
    font-size: r-size(2.5, "min");
    font-weight: 700;
    margin-top: 3vmin;
    @include hover-feedback(0.98);
  }

  > p {
    font-size: r-size(2, "min");
    padding: 0 $padding-side;
    margin: 0;

    &:last-of-type {
      font-size: r-size(1.9, "min");
      padding: 0;
      margin-top: 8vh;

      &::after {
        content: "*";
        font-size: 0.8em;
        position: relative;
        bottom: 0.8ch;
        right: 0.5ch;
      }
    }
  }

  footer {
    margin-top: auto;
    font-size: r-size(1.25, "min");

    p {
      color: colors.$content-muted;
      padding: 0 $padding-side;
      text-align: left;
      max-width: max-content;
      margin: 1em auto;

      &::before {
        content: "*";
        position: relative;
      }
    }

    #biz-info {
      border-top: var(--width-border) solid colors.$border;
      color: #7a8490;
      font-size: 90%;
      padding: 2vmin 0;
    }
  }
}
