@use "colors";
@use "utils" as *;

#intro {
  position: relative;

  padding: 5vmin;
  display: flex;
  flex-direction: column;
  justify-content: center;

  strong {
    color: colors.$main;
  }

  h1 {
    font-weight: 400;
    font-size: r-size(2.5, "min");
    margin: 0;
  }

  p {
    font-weight: 500;

    margin-top: r-size(1, "min");
    margin-bottom: r-size(1.2);
    font-size: r-size(2.8, "min");
  }

  #blob {
    $size: 100vmax;

    position: absolute;
    z-index: -1;
    top: 50vh;
    right: -50vw;
    width: $size;
    max-width: $size;
    filter: blur(20vmin);
    animation: 40s linear infinite rotate-blob;
  }
}

@keyframes rotate-blob {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (orientation: landscape) {
  #intro #blob {
    top: 30vh;
    right: -30vw;
  }
}
